ErrorDocument 404 /404.php
php_value memory_limit 512M
RewriteEngine on

<IfModule mod_rewrite.c>
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !=/favicon.ico

RewriteRule ^NotFound$ 404.php
RewriteRule ^Include$ Include.php
RewriteRule ^Functions$ Functions.php
RewriteRule ^Functions/$ Functions.php
RewriteRule ^PDF$ PDF.php
RewriteRule ^PDF/$ PDF.php
RewriteRule ^Installer$ Installer.php
RewriteRule ^Installer/$ Installer.php
RewriteRule ^DatabaseDelete$ DatabaseDelete.php
RewriteRule ^DatabaseDelete/$ DatabaseDelete.php
RewriteRule ^Payment$ Payment.php
RewriteRule ^Payment/$ Payment.php
RewriteRule ^Payment/([A-Za-z0-9\-]+)$ Payment.php?AccountId=$1
RewriteRule ^Payment/([A-Za-z0-9\-]+)/$ Payment.php?AccountId=$1
RewriteRule ^PrintReceipt$ PrintReceipt.php
RewriteRule ^PrintReceipt/$ PrintReceipt.php
RewriteRule ^PrintReceipt/([A-Za-z0-9\-]+)$ PrintReceipt.php?TransactionId=$1
RewriteRule ^PrintReceipt/([A-Za-z0-9\-]+)/$ PrintReceipt.php?TransactionId=$1
RewriteRule ^Setting$ Setting.php
RewriteRule ^Setting/$ Setting.php
RewriteRule ^Database$ Database.php
RewriteRule ^Database/$ Database.php
RewriteRule ^GetDetail$ GetDetail.php
RewriteRule ^GetDetail/$ GetDetail.php
RewriteRule ^LogIn$ index.php
RewriteRule ^LogIn/$ index.php
RewriteRule ^LogOut$ LogOut.php
RewriteRule ^LogOut/$ LogOut.php
RewriteRule ^Tour$ Tour.php
RewriteRule ^Tour/$ Tour.php
RewriteRule ^How-to-begin$ HowToBegin.php
RewriteRule ^How-to-begin/$ HowToBegin.php
RewriteRule ^ChangePassword$ ChangePassword.php
RewriteRule ^ChangePassword/$ ChangePassword.php
RewriteRule ^Help$ Help.php
RewriteRule ^Help/$ Help.php
RewriteRule ^DashBoard$ DashBoard.php
RewriteRule ^DashBoard/$ DashBoard.php
RewriteRule ^AccountTransfer$ AccountTransfer.php
RewriteRule ^AccountTransfer/$ AccountTransfer.php
RewriteRule ^SMS$ SMS.php
RewriteRule ^SMS/$ SMS.php
RewriteRule ^SMS/([A-Za-z0-9\-]+)$ SMS.php?AccountType=$1
RewriteRule ^SMS/([A-Za-z0-9\-]+)/$ SMS.php?AccountType=$1
RewriteRule ^PriceUpdate$ PriceUpdate.php
RewriteRule ^PriceUpdate/$ PriceUpdate.php
RewriteRule ^PriceUpdate/([A-Za-z0-9\-]+)$ PriceUpdate.php?PType=$1
RewriteRule ^PriceUpdate/([A-Za-z0-9\-]+)/$ PriceUpdate.php?PType=$1
RewriteRule ^MultipleUnit$ MultipleUnit.php
RewriteRule ^MultipleUnit/$ MultipleUnit.php
RewriteRule ^MultipleUnit/([A-Za-z0-9\-]+)$ MultipleUnit.php?Type=$1
RewriteRule ^MultipleUnit/([A-Za-z0-9\-]+)/$ MultipleUnit.php?Type=$1
RewriteRule ^DashBoard/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)$ DashBoard.php?FromDate=$1&ToDate=$2
RewriteRule ^DashBoard/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)/$ DashBoard.php?FromDate=$1&ToDate=$2
RewriteRule ^RemoteValidation$ RemoteValidation.php
RewriteRule ^RemoteValidation/$ RemoteValidation.php
RewriteRule ^RemoteValidation/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)$ RemoteValidation.php?Action=$1&Id=$2
RewriteRule ^RemoteValidation/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)/$ RemoteValidation.php?Action=$1&Id=$2
RewriteRule ^Action$ Action.php
RewriteRule ^Action/$ Action.php
RewriteRule ^BillingAction$ BillingAction.php
RewriteRule ^BillingAction/$ BillingAction.php
RewriteRule ^MasterEntry$ MasterEntry.php
RewriteRule ^MasterEntry/$ MasterEntry.php
RewriteRule ^MasterEntry/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)$ MasterEntry.php?Action=$1&MasterEntryId=$2
RewriteRule ^MasterEntry/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)/$ MasterEntry.php?Action=$1&MasterEntryId=$2
RewriteRule ^Print$ Print.php
RewriteRule ^Print/$ Print.php
RewriteRule ^PrintOption$ PrintOption.php
RewriteRule ^PrintOption/$ PrintOption.php
RewriteRule ^PrintOption/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)$ PrintOption.php?Action=$1&UniqueId=$2
RewriteRule ^PrintOption/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)/$ PrintOption.php?Action=$1&UniqueId=$2
RewriteRule ^ManageAccounts$ ManageAccounts.php
RewriteRule ^ManageAccounts/$ ManageAccounts.php
RewriteRule ^ManageAccounts/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)$ ManageAccounts.php?Action=$1&AccountId=$2
RewriteRule ^ManageAccounts/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)/$ ManageAccounts.php?Action=$1&AccountId=$2
RewriteRule ^ActionGet$ ActionGet.php
RewriteRule ^ActionGet/$ ActionGet.php
RewriteRule ^ActionGet/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)$ ActionGet.php?Action=$1&UniqueId=$2
RewriteRule ^ActionGet/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)/$ ActionGet.php?Action=$1&UniqueId=$2
RewriteRule ^ActionDelete$ ActionDelete.php
RewriteRule ^ActionDelete/$ ActionDelete.php
RewriteRule ^DeletePopUp/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)$ DeletePopUp.php?Action=$1&Id=$2
RewriteRule ^DeletePopUp/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)/$ DeletePopUp.php?Action=$1&Id=$2
RewriteRule ^Calendar$ Calendar.php
RewriteRule ^Calendar/$ Calendar.php
RewriteRule ^Calendar/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)$ Calendar.php?Action=$1&CalendarId=$2
RewriteRule ^Calendar/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)/$ Calendar.php?Action=$1&CalendarId=$2
RewriteRule ^ManageUser$ ManageUser.php
RewriteRule ^ManageUser/$ ManageUser.php
RewriteRule ^ManageUser/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)$ ManageUser.php?Action=$1&UserId=$2
RewriteRule ^ManageUser/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)/$ ManageUser.php?Action=$1&UserId=$2
RewriteRule ^Permission$ Permission.php
RewriteRule ^Permission/$ Permission.php
RewriteRule ^Permission/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)$ Permission.php?Action=$1&UniqueId=$2
RewriteRule ^Permission/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)/$ Permission.php?Action=$1&UniqueId=$2
RewriteRule ^ReportAction$ ReportAction.php
RewriteRule ^ReportAction/$ ReportAction.php
RewriteRule ^Register$ Register.php
RewriteRule ^Register/$ Register.php
RewriteRule ^ManageHeaderAndFooter$ ManageHeaderAndFooter.php
RewriteRule ^ManageHeaderAndFooter/$ ManageHeaderAndFooter.php
RewriteRule ^ManageHeaderAndFooter/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)$ ManageHeaderAndFooter.php?Action=$1&HeaderId=$2
RewriteRule ^ManageHeaderAndFooter/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)/$ ManageHeaderAndFooter.php?Action=$1&HeaderId=$2
RewriteRule ^ErrorPage$ ErrorPage.php
RewriteRule ^ErrorPage/$ ErrorPage.php
RewriteRule ^BackUpRestore$ BackUpRestore.php
RewriteRule ^BackUpRestore/$ BackUpRestore.php
RewriteRule ^BackUpAction$ BackUpAction.php
RewriteRule ^BackUpAction/$ BackUpAction.php
RewriteRule ^Income$ Income.php
RewriteRule ^Income/$ Income.php
RewriteRule ^Income/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)$ Income.php?Action=$1&UniqueId=$2
RewriteRule ^Income/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)/$ Income.php?Action=$1&UniqueId=$2
RewriteRule ^Expense$ Expense.php
RewriteRule ^Expense/$ Expense.php
RewriteRule ^Expense/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)$ Expense.php?Action=$1&UniqueId=$2
RewriteRule ^Expense/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)/$ Expense.php?Action=$1&UniqueId=$2
RewriteRule ^Expense/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)$ Expense.php?Action=$1&UniqueId=$2&UniqueId2=$3
RewriteRule ^Expense/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)/$ Expense.php?Action=$1&UniqueId=$2&UniqueId2=$3
RewriteRule ^GetData$ GetData.php
RewriteRule ^GetData/$ GetData.php
RewriteRule ^GetData/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)$ GetData.php?Action=$1&UniqueId=$2
RewriteRule ^GetData/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)/$ GetData.php?Action=$1&UniqueId=$2
RewriteRule ^Data$ Data.php
RewriteRule ^Data/$ Data.php
RewriteRule ^Note/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)$ Note.php?NoteType=$1&NoteId=$2
RewriteRule ^Note/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)/$ Note.php?NoteType=$1&NoteId=$2
RewriteRule ^Response$ Response.php
RewriteRule ^Response/$ Response.php
RewriteRule ^ManageCompany$ ManageCompany.php
RewriteRule ^ManageCompany/$ ManageCompany.php
RewriteRule ^ManageCompany/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)$ ManageCompany.php?Action=$1&CompanyId=$2
RewriteRule ^ManageCompany/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)/$ ManageCompany.php?Action=$1&CompanyId=$2
RewriteRule ^Category$ Category.php
RewriteRule ^Category/$ Category.php
RewriteRule ^Item$ Item.php
RewriteRule ^Item/$ Item.php
RewriteRule ^ItemReport$ ItemReport.php
RewriteRule ^ItemReport/$ ItemReport.php
RewriteRule ^Sale$ Sale.php
RewriteRule ^Sale/$ Sale.php
RewriteRule ^Sale/([A-Za-z0-9\-]+)$ Sale.php?Token=$1
RewriteRule ^Sale/([A-Za-z0-9\-]+)/$ Sale.php?Token=$1
RewriteRule ^QuickBilling$ QuickBilling.php
RewriteRule ^QuickBilling/$ QuickBilling.php
RewriteRule ^QuickBilling/([A-Za-z0-9\-]+)$ QuickBilling.php?AccountId=$1
RewriteRule ^QuickBilling/([A-Za-z0-9\-]+)/$ QuickBilling.php?AccountId=$1
RewriteRule ^Estimate$ Estimate.php
RewriteRule ^Estimate/$ Estimate.php
RewriteRule ^Estimate/([A-Za-z0-9\-]+)$ Estimate.php?Token=$1
RewriteRule ^Estimate/([A-Za-z0-9\-]+)/$ Estimate.php?Token=$1
RewriteRule ^Current$ Current.php
RewriteRule ^Current/$ Current.php
RewriteRule ^Current/([A-Za-z0-9\-]+)$ Current.php?BillingType=$1
RewriteRule ^Current/([A-Za-z0-9\-]+)/$ Current.php?BillingType=$1
RewriteRule ^Purchase$ Purchase.php
RewriteRule ^Purchase/$ Purchase.php
RewriteRule ^Purchase/([A-Za-z0-9\-]+)$ Purchase.php?Token=$1
RewriteRule ^Purchase/([A-Za-z0-9\-]+)/$ Purchase.php?Token=$1
RewriteRule ^BillingActionGet$ BillingActionGet.php
RewriteRule ^BillingActionGet/$ BillingActionGet.php
RewriteRule ^BillingActionGet/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)$ BillingActionGet.php?Action=$1&Token=$2&UniqueId=$3
RewriteRule ^BillingActionGet/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)/$ BillingActionGet.php?Action=$1&Token=$2&UniqueId=$3
RewriteRule ^PopUp$ PopUp.php
RewriteRule ^PopUp/$ PopUp.php
RewriteRule ^PopUp/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)$ PopUp.php?Action=$1&Token=$2
RewriteRule ^PopUp/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)/$ PopUp.php?Action=$1&Token=$2
RewriteRule ^Account$ Account.php
RewriteRule ^Account/$ Account.php
RewriteRule ^Account/([A-Za-z0-9\-]+)$ Account.php?AccountType=$1
RewriteRule ^Account/([A-Za-z0-9\-]+)/$ Account.php?AccountType=$1
RewriteRule ^Account/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)$ Account.php?AccountType=$1&Action=$2&UniqueId=$3
RewriteRule ^Account/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)/$ Account.php?AccountType=$1&Action=$2&UniqueId=$3
RewriteRule ^Replace$ Replace.php
RewriteRule ^Replace/$ Replace.php
RewriteRule ^Replace/([A-Za-z0-9\-]+)$ Replace.php?AccountType=$1
RewriteRule ^Replace/([A-Za-z0-9\-]+)/$ Replace.php?AccountType=$1
RewriteRule ^Replace/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)$ Replace.php?AccountType=$1&Token=$2
RewriteRule ^Replace/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)/$ Replace.php?AccountType=$1&Token=$2
RewriteRule ^Permission$ Permission.php
RewriteRule ^Permission/$ Permission.php
RewriteRule ^Permission/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)$ Permission.php?Action=$1&UniqueId=$2
RewriteRule ^Permission/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)/$ Permission.php?Action=$1&UniqueId=$2
RewriteRule ^AccountVsInventoryReport$ AccountVsInventoryReport.php
RewriteRule ^AccountVsInventoryReport/$ AccountVsInventoryReport.php
RewriteRule ^AccountVsInventoryReport/([A-Za-z0-9\-]+)$ AccountVsInventoryReport.php?ActionType=$1
RewriteRule ^AccountVsInventoryReport/([A-Za-z0-9\-]+)/$ AccountVsInventoryReport.php?ActionType=$1
RewriteRule ^AccountVsInventoryReport/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)$ AccountVsInventoryReport.php?ActionType=$1&AccountType=$2
RewriteRule ^AccountVsInventoryReport/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)/$ AccountVsInventoryReport.php?ActionType=$1&AccountType=$2
RewriteRule ^AccountReport$ AccountReport.php
RewriteRule ^AccountReport/$ AccountReport.php
RewriteRule ^DateWiseReport$ DateWiseReport.php
RewriteRule ^DateWiseReport/$ DateWiseReport.php
RewriteRule ^PurchaseReport$ PurchaseReport.php
RewriteRule ^PurchaseReport/$ PurchaseReport.php
RewriteRule ^SaleReport$ SaleReport.php
RewriteRule ^SaleReport/$ SaleReport.php
RewriteRule ^EstimateReport$ EstimateReport.php
RewriteRule ^EstimateReport/$ EstimateReport.php
RewriteRule ^ReplaceReport$ ReplaceReport.php
RewriteRule ^ReplaceReport/$ ReplaceReport.php
RewriteRule ^SignUp$ SignUp.php
RewriteRule ^SignUp/$ SignUp.php
RewriteRule ^SignUp/([A-Za-z0-9\-]+)$ SignUp.php?URLAction=$1
RewriteRule ^SignUp/([A-Za-z0-9\-]+)/$ SignUp.php?URLAction=$1
RewriteRule ^ExpenseReport$ ExpenseReport.php
RewriteRule ^ExpenseReport/$ ExpenseReport.php
RewriteRule ^ExpenseReport/([A-Za-z0-9\-]+)$ ExpenseReport.php?FinancialYear=$1
RewriteRule ^ExpenseReport/([A-Za-z0-9\-]+)/$ ExpenseReport.php?FinancialYear=$1
RewriteRule ^ExpenseReport/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)$ ExpenseReport.php?FinancialYear=$1&AccountId=$2
RewriteRule ^ExpenseReport/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)/$ ExpenseReport.php?FinancialYear=$1&AccountId=$2
RewriteRule ^IncomeReport$ IncomeReport.php
RewriteRule ^IncomeReport/$ IncomeReport.php
RewriteRule ^IncomeReport/([A-Za-z0-9\-]+)$ IncomeReport.php?FinancialYear=$1
RewriteRule ^IncomeReport/([A-Za-z0-9\-]+)/$ IncomeReport.php?FinancialYear=$1
RewriteRule ^IncomeReport/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)$ IncomeReport.php?FinancialYear=$1&AccountId=$2
RewriteRule ^IncomeReport/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)/$ IncomeReport.php?FinancialYear=$1&AccountId=$2
RewriteRule ^DetailReport$ DetailReport.php
RewriteRule ^DetailReport/$ DetailReport.php
RewriteRule ^ItemDetailReport$ ItemDetailReport.php
RewriteRule ^ItemDetailReport/$ ItemDetailReport.php
RewriteRule ^PriceUpdateReport$ PriceUpdateReport.php
RewriteRule ^PriceUpdateReport/$ PriceUpdateReport.php
RewriteRule ^PriceUpdateReport/([A-Za-z0-9\-]+)$ PriceUpdateReport.php?PType=$1
RewriteRule ^PriceUpdateReport/([A-Za-z0-9\-]+)/$ PriceUpdateReport.php?PType=$1